<br><br>
<div class="container">
  <div class="card text-center ">
    <div class="card-header text-primary bg-dark">
      <h2>Your Booked Events</h2>
    </div>
    <div class="card-body">
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">Event Id</th>
          <th scope="col">Event Name</th>
          <th scope="col">Adress</th>
          <th scope="col">No Of Ticket</th>
          <th scope="col">payment</th>
          <th scope="col">Event Date</th>
          <th scope="col">Booked Date</th>
          <th scope="col">Cancel</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>EVENT123</td>
          <td>Chess</td>
          <td>DDIT college ,nadiad</td>
          <td>1</td>
          <td>100.00rs</td>
          <td>18/09/2018</td>
          <td>10/08/2019</td>
          <td><button type="button" class="btn btn-primary">Cancel</button></td>
        </tr>
        <tr>
          <td>EVENT123</td>
          <td>Chess</td>
          <td>DDIT college ,nadiad</td>
          <td>1</td>
          <td>100.00rs</td>
          <td>18/09/2018</td>
          <td>10/08/2019</td>
          <td><button type="button" class="btn btn-primary">Cancel</button></td>
        </tr>
        <tr>
          <td>EVENT123</td>
          <td>Chess</td>
          <td>DDIT college ,nadiad</td>
          <td>1</td>
          <td>100.00rs</td>
          <td>18/09/2018</td>
          <td>10/08/2019</td>
          <td><button type="button" class="btn btn-primary">Cancel</button></td>
        </tr>
        <tr>
          <td>EVENT123</td>
          <td>Chess</td>
          <td>DDIT college ,nadiad</td>
          <td>1</td>
          <td>100.00rs</td>
          <td>18/09/2018</td>
          <td>10/08/2019</td>
          <td><button type="button" class="btn btn-primary">Cancel</button></td>
        </tr>
        <tr>
          <td>EVENT123</td>
          <td>Chess</td>
          <td>DDIT college ,nadiad</td>
          <td>1</td>
          <td>100.00rs</td>
          <td>18/09/2018</td>
          <td>10/08/2019</td>
          <td><button type="button" class="btn btn-primary">Cancel</button></td>
        </tr>
        <tr>
          <td>EVENT123</td>
          <td>Chess</td>
          <td>DDIT college ,nadiad</td>
          <td>1</td>
          <td>100.00rs</td>
          <td>18/09/2018</td>
          <td>10/08/2019</td>
          <td><button type="button" class="btn btn-primary">Cancel</button></td>
        </tr>
        <tr>
          <td>EVENT123</td>
          <td>Chess</td>
          <td>DDIT college ,nadiad</td>
          <td>1</td>
          <td>100.00rs</td>
          <td>18/09/2018</td>
          <td>10/08/2019</td>
          <td><button type="button" class="btn btn-primary">Cancel</button></td>
        </tr>
        <tr>
          <td>EVENT123</td>
          <td>Chess</td>
          <td>DDIT college ,nadiad</td>
          <td>1</td>
          <td>100.00rs</td>
          <td>18/09/2018</td>
          <td>10/08/2019</td>
          <td><button type="button" class="btn btn-primary">Cancel</button></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<br><br>
