<br>
<br>

<div class=" container">
  <h2 class="text-white text-info text-center  "> Contact Info</h2>
</div>
<br>
<br>
<div class="container text-primary">
  <div class="row">
    <div class="col-sm">
      <h3 class="text-center text-white">Address</h3><br>
      <h5 class="text-center text-white">Dharmsinh Desai University</h5><br>
      <h5 class="text-center text-white">College Road</h5><br>
      <h5 class="text-center text-white">Nadiad</h5><br><br>
    </div>
    <div class="col-sm">
      <h3 class="text-center text-white">Phone</h3><br>
      <h5 class="text-center text-white">1234567890</h5>
      <br><br>
    </div>
    <div class="col-sm">
      <h3 class="text-center text-white">Email</h3><br>
      <h5 class="text-center text-white">event@gmail.com</h5>
      <br><br>
    </div>
  </div>
</div>



