<div class="card-body text-center">
  <h2 class="card-title text-primary">Post An Event</h2>
  <p class="card-text text-primary">Let's Make Your Event Grand Just Post Your Event</p>
  <button type="button" class="btn btn-primary" routerLink="postevent" routerLinkActive="active">Post Now</button>
</div>
<br>

<div class="row">
  <div class="col-sm-5">
    <div class="card text-center ">
      <div class="card-header text-primary bg-dark">
        <h2>Your Booked Events</h2>
      </div>
      <div class="card-body">
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">Event Id</th>
            <th scope="col">Event Name</th>
            <th scope="col">Show Detail</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>EVENT123</td>
            <td>Chess</td>
            <td><button type="button" class="btn btn-primary">Detail</button></td>
          </tr>
          <tr>
            <td>EVENT123</td>
            <td>Chess</td>
            <td><button type="button" class="btn btn-primary">Detail</button></td>
          </tr>
          <tr>
            <td>EVENT123</td>
            <td>Chess</td>
            <td><button type="button" class="btn btn-primary">Detail</button></td>
          </tr>
          <tr>
            <td>EVENT123</td>
            <td>Chess</td>
            <td><button type="button" class="btn btn-primary">Detail</button></td>
          </tr>
          <tr>
            <td>EVENT123</td>
            <td>Chess</td>
            <td><button type="button" class="btn btn-primary">Detail</button></td>
          </tr>
          <tr>
            <td>EVENT123</td>
            <td>Chess</td>
            <td><button type="button" class="btn btn-primary">Detail</button></td>
          </tr>
          <tr>
            <td>EVENT123</td>
            <td>Chess</td>
            <td><button type="button" class="btn btn-primary">Detail</button></td>
          </tr>
          <tr>
            <td>EVENT123</td>
            <td>Chess</td>
            <td><button type="button" class="btn btn-primary">Detail</button></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-sm-7">
    <div class="card " style="width:100%;">
      <div class="card-body bg-dark">
        <h5 class="card-title text-center text-white">Event Name</h5>
      </div>
      <div class="row">
        <div class="col">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Event Name : XYZ EVENT</li>
            <li class="list-group-item">Event Adress : PQRRS</li>
            <li class="list-group-item">Event Price : $100</li>
            <li class="list-group-item">Event Date : 10/09/2019</li>
            <li><p class="card-text">Event Description : Some quick example text to build on the card title and make up the bulk of the card's content.</p></li>
          </ul>
          <div class="card-body">
            <button type="button"  (click)="getticket()" class="btn btn-primary">&nbsp;Ticket&nbsp;</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="button" class="btn btn-primary">Subcribe</button>
          </div>
        </div>
        <div class="col">
          <br>
          <img class="d-block w-100 align-content-center " src="/src/assets/images.jpg" >
        </div>
      </div>
      <div class="card-footer text-center text-white bg-dark">
        2 days after
      </div>
    </div>
    <br>
    <br>
    <div class="card text-center ">
      <div class="card-header text-primary bg-dark">
        <h2>Booked User This Event</h2>
      </div>
      <div class="card-body">
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">No.</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Mobile No.</th>
            <th scope="col">Event Date</th>
            <th scope="col">Booked Date</th>
            <th scope="col">payment</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>1</td>
            <td>Abc</td>
            <td>qwer@gmail.com</td>
            <td>123456790</td>
            <td>10/10/2018</td>
            <td>18/09/2018</td>
            <td>Done</td>

          </tr>
          <tr>
            <td>1</td>
            <td>Abc</td>
            <td>qwer@gmail.com</td>
            <td>123456790</td>
            <td>10/10/2018</td>
            <td>18/09/2018</td>
            <td>Done</td>
          </tr>
          <tr>
            <td>1</td>
            <td>Abc</td>
            <td>qwer@gmail.com</td>
            <td>123456790</td>
            <td>10/10/2018</td>
            <td>18/09/2018</td>
            <td>Done</td>
          </tr>
          <tr>
            <td>1</td>
            <td>Abc</td>
            <td>qwer@gmail.com</td>
            <td>123456790</td>
            <td>10/10/2018</td>
            <td>18/09/2018</td>
            <td>Done</td>
          </tr>
          <tr>
            <td>1</td>
            <td>Abc</td>
            <td>qwer@gmail.com</td>
            <td>123456790</td>
            <td>10/10/2018</td>
            <td>18/09/2018</td>
            <td>Done</td>
          </tr>
          <tr>
            <td>1</td>
            <td>Abc</td>
            <td>qwer@gmail.com</td>
            <td>123456790</td>
            <td>10/10/2018</td>
            <td>18/09/2018</td>
            <td>Done</td>
          </tr>
          <tr>
            <td>1</td>
            <td>Abc</td>
            <td>qwer@gmail.com</td>
            <td>123456790</td>
            <td>10/10/2018</td>
            <td>18/09/2018</td>
            <td>Done</td>
          </tr>
          <tr>
            <td>1</td>
            <td>Abc</td>
            <td>qwer@gmail.com</td>
            <td>123456790</td>
            <td>10/10/2018</td>
            <td>18/09/2018</td>
            <td>Done</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<br>
<br>
