<br><br>
<div class="container">
  <div class="row">
    <div class="col-3">
    </div>
    <div class="col-6">
      <div class="card text-center ">
        <div class="card-header text-primary bg-dark">
          <h2>signup</h2>
        </div>
        <div class="card-body bg-dark">
          <div class="example-container">
            <mat-form-field color="primary">
              <input matInput placeholder="User Id">
            </mat-form-field>

            <mat-form-field color="primary">
              <input matInput placeholder="Name">
            </mat-form-field>

            <mat-form-field color="primary">
              <input matInput placeholder="Email">
            </mat-form-field>



            <mat-form-field color="primary">
              <input matInput placeholder="Country">
            </mat-form-field>

            <mat-form-field color="primary">
              <input type="password" matInput placeholder="Password">
            </mat-form-field>

            <mat-form-field color="primary">
              <input type="password" matInput placeholder="Re-Password">
            </mat-form-field>
          </div>
        </div>
        <div class="card-footer text-muted bg-dark">
          <button type="button" (click)="signup()" class="btn btn-primary">Sign In</button>
        </div>
      </div>
    </div>
    <div class="col-3">
    </div>
  </div>
</div>
<br><br>
