<br><br>
<div class="container">
  <div class="card ">
    <div class="card-header text-primary bg-dark">
      <h2 class="text-center">Profile</h2>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-4">
          <img class="d-block w-75 container align-content-center" src="/src/assets/speaker01.jpg">
        </div>
        <div class="col-8">
          <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <th scope="row"></th>
              <td>UserId</td>
              <td>16CEUES112</td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td>Name</td>
              <td>Chirag Patel</td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td>Email</td>
              <td>chiragpatel1499@gmail.com</td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td>Mobile No.</td>
              <td>9737512118</td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td>Country :</td>
              <td>India</td>
            </tr>
            </tbody>
          </table>
          <div class="card-body" >
            <button type="button"  class="btn btn-primary align-content-center">&nbsp;Edit&nbsp;</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br><br>

