<br><br>
<div class="container">
  <div class="row">
    <div class="col-3">
    </div>
    <div class="col-6">
      <div class="card text-center ">
        <div class="card-header text-primary bg-dark">
          <h2>Get Ticket</h2>
        </div>
        <div class="card-body bg-white">
          <div class="example-container">
            <table class="table table-striped">
              <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col"></th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <th scope="row"></th>
                <td>Event Name</td>
                <td>xyz</td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td>Event Venue</td>
                <td>DDIT , college road ,Nadiad</td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td>Event Date</td>
                <td>11/10/2019</td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td>Description</td>
                <td>Some quick example text to build on the card title and make up the bulk of the card's content.</td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td>No. Of Tickets</td>
                <td></td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td>Total Amount</td>
                <td>$200</td>
              </tr>
              </tbody>
            </table>

          </div>
        </div>
        <div class="card-footer text-muted bg-dark">
          <button type="button" (click)="confirmpayment()"class="btn btn-primary">Confirm Payment</button>
        </div>
      </div>
    </div>
    <div class="col-3">
    </div>
  </div>
</div>
<br><br>
